<section class="clients">
  <div class="banner">
    <h1 i18n>Nos clients</h1>
  </div>
  <div class="content">
    <h2 i18n>JLG Consulting délivre ses services depuis 2001</h2>
    <p i18n>Voici une liste non exhaustive :</p>

    <div class="three-bloc">
      <div class="bloc-logo border-left-none">
        <img src="assets/img/clients/alcatel.png" alt="">
      </div>
      <div class="bloc-logo">
        <img src="assets/img/clients/areva.png" alt="">
      </div>
      <div class="bloc-logo">
        <img src="assets/img/clients/assemblee.png" alt="">
      </div>
      <div class="bloc-logo border-left-none">
        <img src="assets/img/clients/bouygues.png" alt="">
      </div>
      <div class="bloc-logo">
        <img src="assets/img/clients/brandt.png" alt="">
      </div>
      <div class="bloc-logo">
        <img src="assets/img/clients/caf.png" alt="">
      </div>
      <div class="bloc-logo">
        <img src="assets/img/clients/canal.png" alt="">
      </div>
      <div class="bloc-logo border-left-none">
        <img src="assets/img/clients/capgemini.png" alt="">
      </div>
      <div class="bloc-logo">
        <img src="assets/img/clients/carrefour.png" alt="">
      </div>
      <div class="bloc-logo">
        <img src="assets/img/clients/cegetel.png" alt="">
      </div>
      <div class="bloc-logo border-left-none">
        <img src="assets/img/clients/cnam.png" alt="">
      </div>
      <div class="bloc-logo">
        <img src="assets/img/clients/conseil.png" alt="">
      </div>
      <div class="bloc-logo">
        <img src="assets/img/clients/covad.png" alt="">
      </div>
      <div class="bloc-logo">
        <img src="assets/img/clients/demos.png" alt="">
      </div>
      <div class="bloc-logo border-left-none">
        <img src="assets/img/clients/edf.png" alt="">
      </div>
      <div class="bloc-logo">
        <img src="assets/img/clients/engie.png" alt="">
      </div>
      <div class="bloc-logo border-left-none">
        <img src="assets/img/clients/ibm.png" alt="">
      </div>
      <div class="bloc-logo">
        <img src="assets/img/clients/lvmh.png" alt="">
      </div>
      <div class="bloc-logo">
        <img src="assets/img/clients/michelin.png" alt="">
      </div>
      <div class="bloc-logo">
        <img src="assets/img/clients/ministere.png" alt="">
      </div>
      <div class="bloc-logo border-left-none">
        <img src="assets/img/clients/natixis.png" alt="">
      </div>
      <div class="bloc-logo">
        <img src="assets/img/clients/oracle.png" alt="">
      </div>
      <div class="bloc-logo">
        <img src="assets/img/clients/orange.png" alt="">
      </div>
      <div class="bloc-logo">
        <img src="assets/img/clients/hightech.png" alt="">
      </div>
      <div class="bloc-logo border-left-none">
        <img src="assets/img/clients/orsys.png" alt="">
      </div>
      <div class="bloc-logo">
        <img src="assets/img/clients/psa.png" alt="">
      </div>
      <div class="bloc-logo">
        <img src="assets/img/clients/renault.png" alt="">
      </div>
      <div class="bloc-logo">
        <img src="assets/img/clients/supelec.png" alt="">
      </div>
      <div class="bloc-logo border-left-none">
        <img src="assets/img/clients/upem.png" alt="">
      </div>
      <div class="bloc-logo">
        <img src="assets/img/clients/vodafone.png" alt="">
      </div>
      <div class="bloc-logo">
        <img src="assets/img/clients/wipro.png" alt="">
      </div>
    </div>
  </div>
</section>
