<section class="clients">
  <app-parallax src="assets/img/clients/bg-client.jpg">
    <h1 i18n>Nos clients</h1>
  </app-parallax>
  <div class="content">
    <h2 i18n>JLG Consulting délivre ses services depuis 2001</h2>
    <p i18n>Voici une liste non exhaustive :</p>

    <div class="three-bloc">
      <div class="bloc-logo border-left-none">
        <app-image src="assets/img/clients/alcatel.png"></app-image>
      </div>
      <div class="bloc-logo">
        <app-image src="assets/img/clients/areva.png"></app-image>
      </div>
      <div class="bloc-logo">
        <app-image src="assets/img/clients/assemblee.png"></app-image>
      </div>
      <div class="bloc-logo border-left-none">
        <app-image src="assets/img/clients/bouygues.png"></app-image>
      </div>
      <div class="bloc-logo">
        <app-image src="assets/img/clients/brandt.png"></app-image>
      </div>
      <div class="bloc-logo">
        <app-image src="assets/img/clients/caf.png"></app-image>
      </div>
      <div class="bloc-logo">
        <app-image src="assets/img/clients/canal.png"></app-image>
      </div>
      <div class="bloc-logo border-left-none">
        <app-image src="assets/img/clients/capgemini.png"></app-image>
      </div>
      <div class="bloc-logo">
        <app-image src="assets/img/clients/carrefour.png"></app-image>
      </div>
      <div class="bloc-logo">
        <app-image src="assets/img/clients/cegetel.png"></app-image>
      </div>
      <div class="bloc-logo border-left-none">
        <app-image src="assets/img/clients/cnam.png"></app-image>
      </div>
      <div class="bloc-logo">
        <app-image src="assets/img/clients/conseil.png"></app-image>
      </div>
      <div class="bloc-logo">
        <app-image src="assets/img/clients/covad.png"></app-image>
      </div>
      <div class="bloc-logo">
        <app-image src="assets/img/clients/demos.png"></app-image>
      </div>
      <div class="bloc-logo border-left-none">
        <app-image src="assets/img/clients/edf.png"></app-image>
      </div>
      <div class="bloc-logo">
        <app-image src="assets/img/clients/engie.png"></app-image>
      </div>
      <div class="bloc-logo border-left-none">
        <app-image src="assets/img/clients/ibm.png"></app-image>
      </div>
      <div class="bloc-logo">
        <app-image src="assets/img/clients/lvmh.png"></app-image>
      </div>
      <div class="bloc-logo">
        <app-image src="assets/img/clients/michelin.png"></app-image>
      </div>
      <div class="bloc-logo">
        <app-image src="assets/img/clients/ministere.png"></app-image>
      </div>
      <div class="bloc-logo border-left-none">
        <app-image src="assets/img/clients/natixis.png"></app-image>
      </div>
      <div class="bloc-logo">
        <app-image src="assets/img/clients/oracle.png"></app-image>
      </div>
      <div class="bloc-logo">
        <app-image src="assets/img/clients/orange.png"></app-image>
      </div>
      <div class="bloc-logo">
        <app-image src="assets/img/clients/hightech.png"></app-image>
      </div>
      <div class="bloc-logo border-left-none">
        <app-image src="assets/img/clients/orsys.png"></app-image>
      </div>
      <div class="bloc-logo">
        <app-image src="assets/img/clients/psa.png"></app-image>
      </div>
      <div class="bloc-logo">
        <app-image src="assets/img/clients/renault.png"></app-image>
      </div>
      <div class="bloc-logo">
        <app-image src="assets/img/clients/supelec.png"></app-image>
      </div>
      <div class="bloc-logo border-left-none">
        <app-image src="assets/img/clients/upem.png"></app-image>
      </div>
      <div class="bloc-logo">
        <app-image src="assets/img/clients/vodafone.png"></app-image>
      </div>
      <div class="bloc-logo">
        <app-image src="assets/img/clients/wipro.png"></app-image>
      </div>
    </div>
  </div>
</section>
