@import '../../sass/styles.scss';

.ux {
  display: block;
  width: 100%;
}

.banner {
  display: block;
  width: 100%;
  background-image: url('../../assets/img/web/web.jpg');
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  position: relative;
  overflow: hidden;
  h1 {
    position: relative;
    z-index: 2;
    color: $black;
    font-size: 2.5em;
    padding: 3em 2em;
    animation: introduce 2s forwards;
  }
  &::before {
    position: absolute;
    content: '';
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
  }
}

@keyframes introduce {
  from {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.content {
  display: block;
  width: 100%;
  margin: 2.5em 0;
  h2 {
    margin: 0.4em 0;
    font-size: 1.7em;
  }
  p {
    padding: 2em 3em;
    font-size: 1.2em;
  }
}

.four-bloc {
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  .bloc-service {
    display: inline-block;
    width: 20%;
    margin: 0.5em;
    animation: fadeInUp 2s forwards;
    img {
      display: block;
      width: 180px;
      border-radius: 10px;
      margin: 2em auto 1em;
    }
    span {
      display: block;
      color: $black;
      padding: 0 0.4em 2em;
      font-size: 1.1em;
      font-weight: bold;
    }
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    /* -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); */
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.container {
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  .row {
    display: inline-block;
    .sub-service {
      float: left;
      width: 600px;
      margin: 1em 1em;
      text-align: center;
      box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.11);
      transition: 0.3s;
      animation: fadeInUp 2s forwards;
      .img-head {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        text-decoration: none;
        font-size: 1.4em;
        font-weight: bold;
        h2 {
          display: block;
          position: absolute;
          width: 100%;
          top: 47%;
          left: 50%;
          -webkit-transform: translate(-50%, -47%);
          transform: translate(-50%, -47%);
          z-index: 1;
        }
        img {
          width: 100%;
          filter: opacity(0.3);
        }
      }
      .detail-service {
        padding: 0.5em 2em 0;
        text-align: left;
        h3 {
          display: block;
          margin: 1em 0 0;
          padding-left: 0.5em;
          font-size: 1.5em;
          color: $hue;
          border-left: 3px solid $hue;
        }
        p {
          font-size: 1em;
          padding: 1em 0 0;
        }
        ul {
          margin: 0;
          li {
            list-style-type: circle;
            font-style: italic;
            color: grey;
          }
        }
      }
      .button {
        font-size: 1.2em;
        text-align: center;
        margin: 1em auto 1.5em;
      }
    }
  }
}

@media screen and (max-width: 1350px) {
  .sub-service {
    width: 550px;
  }
}

@media screen and (max-width: 1280px) {
  .sub-service {
    width: 450px;
    .img-head h2 {
      font-size: 1.2em;
    }
  }
}

@media screen and (max-width: 969px) {
  .row {
    padding: 3em;
    .sub-service {
      width: 100%;
      margin: 1em auto;
      .img-head h2 {
        font-size: 1.5em;
      }
    }
  }
}
