<section class="ux">
  <div class="banner">
    <h1>User Experience</h1>
  </div>
  <div class="content">
    <h2>4 missions</h2>
    <p i18n>Nous vous proposons 4 missions vous permettant d'améliorer le niveau d'ergonomie et la « user experience » de vos interfaces
      logicielles :</p>

    <div class="conteneur">
      <div class="container-bloc-service">
        <div class="row">
          <app-figure src="assets/img/ux/usability-test.jpg" title="Test d'utilisabilité"></app-figure>
          <app-figure src="assets/img/ux/interface-audit.jpg" title="Audit ergonomique"></app-figure>
          <app-figure src="assets/img/ux/prototyping.jpg" title="Prototypage"></app-figure>
          <app-figure src="assets/img/ux/user-modeling.jpg" title="Modélisation utilisateur"></app-figure>
        </div>
      </div>

      <p i18n>Nous pouvons délivrer des
        <b>prestations de formation et de coaching</b> directement au sein de votre entreprise pour permettre aux acteurs de
        vos projets de mieux comprendre et mettre en pratique la démarche ergonomique et vous permettre ainsi d'apporter
        à vos clients des produits réalisés pour eux.</p>


      <div class="container">
        <div class="group-row">
          <div class="row">
            <div class="sub-service">
              <div class="head-card">
                <h2 i18n>Test d'utilisabilité</h2>
                <app-image class="center" src="assets/img/ux/usability-test.jpg"></app-image>
              </div>
              <div class="detail-service">
                <h3 i18n>Description</h3>
                <p i18n>Observer un utilisateur ayant un objectif précis le conduisant à utiliser votre site.</p>
                <h3 i18n>Objectifs</h3>
                <p i18n>Remplir le pipeline à besoins ergonomiques.
                  <br/> Améliorer le niveau ergonomique de votre site.</p>
                <h3 i18n>Réalisation</h3>
                <p i18n>Tester directement devant les acteurs techniques et métier (développeurs, maîtres d'ouvrage, marketing) le
                  site web à l'aide d'un utilisateur neutre. </p>
                <ul>
                  <li i18n>Recruter 2 utilisateurs</li>
                  <li i18n>Décider quels tâches ils vont essayer d'accomplir avec le site</li>
                </ul>
                <p i18n>La réunion dure 3 heures maximum&nbsp;:</p>
                <ul>
                  <li i18n>2 heures pour observer 2 utilisateurs.</li>
                  <li i18n>1 heure pour débriefer avec les équipes projet et avoir le pipeline à besoin ergonomique rempli.</li>
                </ul>
                <p i18n>Le livrable issu du debriefing est la liste de besoins ergonomiques. Cette mission devrait être faite régulièrement,
                  tout au long du projet. </p>
                <p i18n>La valeur ajoutée de faire cette mission avec JLG Consulting est d'apprendre par l'exemple et la mise en
                  pratique pour savoir comment organiser et mener cette réunion de test de façon autonome. </p>
                <h3 i18n>Tarif</h3>
                <p i18n>A partir de
                  <b>2000 euros HT</b> par réunion, en fonction de vos besoins.</p>
              </div>
              <div class="foot-card">
                <a class="button" [routerLink]="['/contact']" href="/contact" i18n>
                  <i class="fa fa-envelope"></i> Contactez-nous</a>
              </div>
            </div>
            <div class="sub-service">
              <div class="head-card">
                <h2 i18n>Audit ergonomique</h2>
                <app-image class="center" src="assets/img/ux/interface-audit.jpg"></app-image>
              </div>
              <div class="detail-service">
                <h3 i18n>Description</h3>
                <p i18n>Examen de toutes les interfaces, les dispositions d'écran, les widgets et application d'une checklist sur
                  chacun de ces ́éléments.</p>
                <h3 i18n>Objectifs</h3>
                <p i18n>Améliorer l'interface utilisateur d'une application ou d'une maquette existante.</p>
                <h3 i18n>Réalisation</h3>
                <p i18n>Cette mission est réalisée par l'application de checklist de Bastien & Scapin, des lois de la Gestalt et
                  de la cheklist de Suzan Weinschenk (100 Things that every designer should know).</p>
                <p i18n>Si cette mission est réalisée par un consultant expérimenté en ergonomie, meilleur est le résultat.</p>
                <h3 i18n>Tarif</h3>
                <p i18n>A partir de
                  <b>1000 euros</b> par réunion, en fonction de vos besoins.
                </p>
              </div>
              <div class="foot-card">
                <a class="button" [routerLink]="['/contact']" href="/contact" i18n>
                  <i class="fa fa-envelope"></i> Contactez-nous</a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="sub-service">
              <div class="head-card">
                <h2 i18n>Prototypage</h2>
                <app-image class="center" src="assets/img/ux/prototyping.jpg"></app-image>
              </div>
              <div class="detail-service">
                <h3 i18n>Description</h3>
                <p i18n>A partir de besoins utilisateurs clairement identifiés, (re)designer un portail utilisateur et un ensemble
                  d'applications correspondant à des objectifs utilisateur clairs et précis.</p>
                <h3 i18n>Objectifs</h3>
                <p i18n>Délivrer à l'équipe de développement une maquette de bon niveau ergonomique, déjà validée par les utilisateurs.</p>
                <h3 i18n>Réalisation</h3>
                <p i18n>A cette étape les utilisateurs doivent être clairement identifiés, leur souhaits connus et l'équipe projet
                  doit avoir une bonne idée technique permettant aux utilisateurs d'aller plus vite dans leur objectif avec
                  plus de facilité. La mission
                  <a href="#modelisation-utilisateur">Modéliser Utilisateur</a> permet de le faire proprement si besoin.</p>
                <p i18n>Identifier si vous avez besoin d'un portail et d'une liste des applications à intégrer. Si besoin, clarifier
                  cet aspect.
                </p>
                <p i18n>Une fois le portail définit et les applications précisées, vous êtes prêts pour prototyper.</p>
                <p i18n>Les étapes du prototypage sont les suivantes et
                  <b>toutes doivent être validées par un utilisateur</b>.</p>
                <ul class="step">
                  <li i18n>Description du processus nominal et décomposition en maximum 5 étapes qui peuvent être décomposées à leur
                    tour en 5 sous-étapes et récursivement. </li>
                  <li i18n>Mise en œuvre d'un storyboard en wireframe. </li>
                  <li i18n>Mise au propre du storyboard. </li>
                  <li i18n>Intégration des éléments graphiques à l'aide d'un graphiste (mockup). </li>
                  <li i18n>Partage du mockup avec l'équipe développement.</li>
                </ul>
                <p i18n>
                  <b>Note importante :</b> Ne rien expliquer à l'utilisateur quant au fonctionnement de l'interface sinon le
                  test n'est pas valide. </p>
                <p i18n>Pendant le test, le facilitateur peut demander SEULEMENT deux choses :</p>
                <ul>
                  <li i18n>Qu'est-ce que vous comprenez ?</li>
                  <li i18n>Où est-ce que vous voulez cliquer ?</li>
                </ul>
                <p i18n>
                  <b>Aucune aide n'est permise.</b> Si l'utilisateur ne comprend pas ou ne sait pas où cliquer pour mener son
                  objectif à bien, alors le test échoue : on a trouvé un bug qui devrait être corrigé. </p>
                <p i18n> La valeur ajoutée de mener cette mission avec JLG Consulting est d'apprendre à mettre en place dans votre
                  organisation et spécialement vos processus de conception la démarche ergonomique de prototypage et de devenir
                  autonome sur ces aspects. </p>
                <h3 i18n>Tarif</h3>
                <p i18n>A partir de
                  <b>4000 euros</b> par processus nominal en fonction de vos besoins.</p>
              </div>
              <div class="foot-card">
                <a class="button" [routerLink]="['/contact']" href="/contact" i18n>
                  <i class="fa fa-envelope"></i> Contactez-nous</a>
              </div>
            </div>
            <div class="sub-service">
              <div class="head-card">
                <h2 i18n>Modélisation utilisateur</h2>
                <app-image class="center" src="assets/img/ux/user-modeling.jpg"></app-image>
              </div>
              <div class="detail-service">
                <h3 i18n>Description</h3>
                <p i18n>Un ensemble d'activité qui permet aux designers de voir leur cible : l'utilisateur.</p>
                <h3 i18n>Objectifs</h3>
                <p i18n>Rendre visible et disponible à tous les partis prenantes du projet ce qu'est un utilisateur :</p>
                <ul>
                  <li i18n>qui il est, </li>
                  <li i18n>quels sont ses objectifs,</li>
                  <li i18n>et comment il voudrait mener à bien ses objectifs, dans quel contexte, dans quelles conditions.</li>
                </ul>
                <h3 i18n>Réalisation</h3>
                <p i18n>Cette mission est réalisée par les activités suivantes nécessaires en fonction du contexte projet et du budget
                  :
                </p>
                <ul>
                  <li i18n>Personae,</li>
                  <li i18n>Diary studies</li>
                  <li i18n>Observation sur site</li>
                  <li i18n>Interview</li>
                  <li i18n>Questionnaires</li>
                </ul>
                <h3 i18n>Tarif</h3>
                <p i18n>A partir de
                  <b>3000 euros</b> en fonction de vos besoins. </p>
              </div>
              <div class="foot-card">
                <a class="button" [routerLink]="['/contact']" href="/contact" i18n>
                  <i class="fa fa-envelope"></i> Contactez-nous</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
