@import '../../sass/styles.scss';
.ux {
  display: block;
  width: 100%;
}

.banner {
  display: block;
  width: 100%;
  background-image: url('../../assets/img/web/web.jpg');
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  position: relative;
  overflow: hidden;
  h1 {
    position: relative;
    z-index: 2;
    color: black;
    font-size: 2.5em;
    padding: 3em 2em;
    animation: introduce 2s forwards;
  }
  &::before {
    position: absolute;
    content: '';
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
  }
}

@keyframes introduce {
  from {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.content {
  display: block;
  width: 100%;
  margin: 2.5em 0;
  h2 {
    font-size: 1.7em;
    margin: 0;
    padding: 0.3em 1em;
    border-left: 5px solid $hue;
  }
  p {
    font-size: 1.2em;
    padding: 2em 0em;
  }
}

.content {
  display: block;
  width: 85%;
  margin: 3em auto;
}

.container-bloc-service {
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  .row {
    display: inline-block;
    .bloc-service {
      float: left;
      width: 14em;
      margin: 0.5em;
      animation: fadeInUp 2s forwards;
      img {
        display: block;
        width: 180px;
        margin: 2em auto 1em;
      }
      span {
        display: block;
        color: black;
        padding: 0 0.4em 2em;
        font-size: 1.1em;
        font-weight: bold;
      }
    }
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    /* -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); */
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.container {
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  .group-row {
    display: inline-block;
    .row {
      float: left;
      width: 33em;
      &:after {
        content: '';
        display: block;
        clear: both;
      }
      .sub-service {
        float: left;
        width: 29em;
        margin: 1em 1em;
        text-align: center;
        box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.11);
        transition: 0.3s;
        animation: fadeInUp 2s forwards;
        .head-card {
          display: block;
          position: relative;
          width: 100%;
          height: 100%;
          text-align: center;
          text-decoration: none;
          font-size: 1.2em;
          font-weight: bold;
          h2 {
            display: block;
            position: absolute;
            margin: 0.4em 0;
            font-size: 1.4em;
            padding: 0;
            width: 100%;
            border: none;
            top: 47%;
            left: 50%;
            -webkit-transform: translate(-50%, -47%);
            transform: translate(-50%, -47%);
            z-index: 1;
          }
          img {
            width: 100%;
            filter: opacity(0.3);
          }
        }
        .detail-service {
          display: block;
          padding: 0.5em 1.3em 0;
          text-align: left;
          h3 {
            display: block;
            margin: 1em 0 0;
            padding: 0.2em 1em;
            font-size: 1.5em;
            border-left: 4px solid $hue;
          }
          p {
            font-size: 1em;
            padding: 1em 0 0;
          }
          ul {
            margin: 0;
            li {
              list-style-type: circle;
              font-style: italic;
              color: grey;
            }
          }
        }
        .foot-card {
          .button {
            font-size: 1.2em;
            min-width: 7em;
            text-align: center;
            margin: 1.3em 0.4em;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .content {
    width: 95%;
  }
  .group-row {
    .row {
      width: 30em !important;
    }
  }
  .sub-service {
    width: 450px !important;
  }
}

@media screen and (max-width: 768px) {
  .container-bloc-service {
    .row {
      .bloc-service {
        width: 40%;
        float: none;
        display: inline-block;
      }
    }
  }

  .group-row {
    .row {
      width: 22.8em !important;
    }
  }
  .sub-service {
    width: 330px !important;
    .head-card {
      h2 {
        font-size: 1em;
      }
    }
  }
}

@media screen and (max-width: 740px) {
  .content {
    width: 85%;
  }
  .sub-service {
    width: 17em !important;
    .head-card {
      h2 {
        font-size: 1.5em !important;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .content {
    width: 90%;
  }
  .banner {
    h1 {
      font-size: 1.8em;
      padding: 3em 1em;
    }
  }
  .container-bloc-service {
    .row {
      .bloc-service {
        width: 100%;
        margin: 0;
      }
    }
  }
  .container {
    .row {
      width: 100% !important;
      .sub-service {
        width: 100% !important;
        margin: 1em 0 !important;
        .head-card {
          h2 {
            font-size: 1em;
          }
        }
      }
    }
  }
}
