.banner {
  display: block;
  width: 100%;
  background-color: #7aff7e;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  position: relative;
  overflow: hidden;
  h1 {
    position: relative;
    z-index: 2;
    color: black;
    font-size: 2.5em;
    padding: 3em 2em;
    animation: introduce 2s forwards;
  }
  &::before {
    position: absolute;
    content: '';
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    /* -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); */
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.info {
  padding: 2em;
  animation: fadeInUp 2s forwards;
  h1 {
    color: #1EC623;
  }
  address {
    font-style: normal;
  }
  .phone,
  .email {
    text-decoration: underline;
    &:hover {
      color: #1EC623;
    }
  }
}
