app-parallax {
  h1 {
    font-size: 2em;
    animation: introduce 2s forwards;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    // transform: translate3d(0, 100%, 0); */
    transform: translate3d(0, 40px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

.info {
  padding: 2em;
  animation: fadeInUp 2s forwards;
  h1 {
    color: #1EC623;
  }
  address {
    font-style: normal;
  }
  .phone,
  .email {
    text-decoration: underline;
    &:hover {
      color: #1EC623;
    }
  }
}

@media screen and (max-width: 700px) {
  .banner {
    h1 {
      font-size: 2em;
      padding: 3em 1em;
    }
  }
}
