.banner {
  display: block;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  position: relative;
  overflow: hidden;
  h1 {
    position: relative;
    z-index: 2;
    color: black;
    font-size: 2.5em;
    padding: 3em 2em;
    animation: introduce 2s forwards;
  }
  &::before {
    position: absolute;
    content: '';
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
  }
}

:host {
  display: block;
  position: relative;
  width: 100%;
  height: 15em;
}
div {
  position: absolute;
  top: 0;
  bottom: 0;

  transition: opacity 1s;
  opacity: 0;
  &.visible {
    opacity: 1;
  }
}

.lightDOM {
  opacity: 1;
  z-index: 3;
  padding-top: 6.2em;
  padding-left: 3em;
}

.state0 {
  width: 100%;
  height: 100%;
  z-index: 2;
  background: #f3f3f3;
}

.state1 {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.state2 {
  width: 100%;
  height: 100%;
  z-index: 0;
}
