<header>
  <a class="logo" href="/">
    <img src="assets/img/logo.svg">
  </a>
  <div class="nav-mobile">
    <button (click)="isActive = !isActive;">
      <i class="fa fa-bars"></i>
    </button>
  </div>
  <nav>
    <ul class="nav-list" [style.display]="isActive ? 'block': 'none'">
      <li class="menu-item active">
        <a href="/">Accueil</a>
      </li>
      <li class="menu-item">
        <a href="/clients">Clients</a>
      </li>
      <li class="menu-item">
        <a href="/ux">UX</a>
      </li>
      <li class="menu-item">
        <a href="/web">Web</a>
      </li>
      <li class="menu-item">
        <a href="/contact">Contact</a>
      </li>
    </ul>
  </nav>
</header>
