<header>
  <a class="logo" href="/">
    <img src="assets/img/logo.svg">
  </a>
  <div class="nav-mobile">
    <button (click)="isActive = !isActive;">
      <i class="fa fa-bars"></i>
    </button>
  </div>
  <div class="flags">
    <a href="../../../../dist/fr/">
      <img src="assets/img/flags/fr.svg" alt="" width="40">
    </a>
    <a href="../../../../dist/en/">
      <img src="assets/img/flags/uk.svg" alt="" width="40">
    </a>
  </div>
  <nav>
    <ul class="nav-list" [style.display]="isActive ? 'block': 'none'">
      <li [routerLinkActive]="['active']" class="menu-item">
        <a [routerLink]="['/home']" (click)="isActive = !isActive;" href="/home" i18n>Accueil</a>
      </li>
      <li [routerLinkActive]="['active']" class="menu-item">
        <a [routerLink]="['/clients']" (click)="isActive = !isActive;" href="/clients">Clients</a>
      </li>
      <li [routerLinkActive]="['active']" class="menu-item">
        <a [routerLink]="['/ux']" (click)="isActive = !isActive;" href="/ux">UX</a>
      </li>
      <li [routerLinkActive]="['active']" class="menu-item">
        <a [routerLink]="['/web']" (click)="isActive = !isActive;" href="/web">Web</a>
      </li>
      <li [routerLinkActive]="['active']" class="menu-item">
        <a [routerLink]="['/contact']" (click)="isActive = !isActive;" href="/contact">Contact</a>
      </li>
    </ul>
  </nav>


</header>
