@import '../../../sass/styles.scss';
header {
  display: block;
  width: 100%;
  padding: 1em 0;
  .logo img {
    margin-left: 2em;
  }
  nav {
    float: right;
    ul {
      margin-right: 3em;
      li {
        float: left;
        &::after {
          content: '';
          display: block;
          clear: both;
        }
        a {
          padding: 1em 1.2em;
          color: rgba(0, 0, 0, 0.7);
          font-size: 1.1em;
          position: relative;
          transition: 0.2s;
          &::after {
            content: "";
            position: absolute;
            height: 2px;
            bottom: 7px;
            left: 18px;
            right: 17px;
            background-color: $hue;
            visibility: hidden;
            transform: scaleX(0);
            transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          }
          &:hover {
            text-decoration: none;
            color: $hue;
            &::after {
              visibility: visible;
              transform: scaleX(1);
            }
          }
        }
      }
      li.active {
        a {
          text-decoration: none;
          color: $hue;
          &:after {
            visibility: visible;
            transform: scaleX(1);
          }
        }
      }
    }
  }
}

// Nav Mobile
.nav-mobile {
  display: none;
  position: absolute;
  top: 11px;
  right: 15px;
  button {
    display: inline-block;
    background: transparent;
    vertical-align: middle;
    height: 67px;
    text-align: center;
    border: none;
    cursor: pointer;
    i.fa {
      font-size: 2em;
    }
  }
}

@media only screen and (max-width: 769px) {
  header {
    .logo {
      img {
        margin-left: 1em;
      }
    }
  }
  .nav-mobile {
    display: block;
    text-align: center;
  }
  nav {
    width: 100%;
    position: relative;
    top: 16px;
    z-index: 3;
    ul {
      // display: none;
      position: absolute;
      width: 100%;
      margin: 0 !important;
      padding: 0;
      li {
        display: inline-block;
        width: 100%;
        text-align: center;
        background: white;
        a {
          display: inline-block;
          width: 100%;
          padding: 1em 0 !important;
          font-weight: bold;
          font-size: 1.3em !important;
          line-height: 20px;
          &::after {
            display: none;
          }
          &:hover {
            background: $hue;
            color: white !important;
          }
        }
      }
      li.active {
        background: $hue;
        a {
          color: white !important;
        }
      }
    }
  }
}

@media screen and (min-width: 770px) {
  .nav-list {
    display: block !important;
  }
}
