.bloc-service {
  float: left;
  width: 17em;
  margin: 0.5em;
  animation: fadeInUp 2s forwards;
  .placeholder {
    width: 180px;
    height: 120px;
    margin: 2em auto 1em;
    background-color: #f6f6f6;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    img {
      position: absolute;
      opacity: 1;
      top: 0;
      left: 0;
      width: 100%;
      transition: opacity 1s linear;
    }
    img.img-large {
      display: none;
    }
    img.img-small {
      display: block;
      filter: blur(5px);
      transform: scale(1);
    }
  }
  span {
    display: block;
    color: black;
    padding: 0 0.4em 2em;
    font-size: 1.1em;
    font-weight: bold;
  }
}

@media screen and (max-width: 1029px) {
  .bloc-service {
    width: 14em;
  }
}

@media screen and (max-width: 768px) {
  .bloc-service {
    width: 18em;
    margin: 0;
  }
}

.placeholder {
  background-color: #f6f6f6;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.placeholder img {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  transition: opacity 1s linear;
}

.placeholder img.loaded {
  opacity: 1;
}

.img-small {
  filter: blur(50px);
  /* this is needed so Safari keeps sharp edges */
  transform: scale(1);
}

@media screen and (max-width: 568px) {
  .placeholder {
    width: 100% !important;
    height: 320px !important;
  }
  .bloc-service {
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  .placeholder {
    width: 100% !important;
    height: 220px !important;
  }
  .bloc-service {
    width: 100%;
  }
}

@media screen and(max-width: 350px) {
  .placeholder {
    width: 100% !important;
    height: 180px !important;
  }
}
