<section class="web">
  <div class="banner">
    <h1 i18n>Développement web</h1>
  </div>
  <div class="content">
    <h2>4 missions</h2>
    <p i18n>Voici les 4 missions que l'on propose en terme de d́éveloppement logiciel web (front-end) :</p>

    <div class="container-bloc-service">
      <div class="row">
        <div class="bloc-service">
          <img src="assets/img/web/development.png" alt="">
          <span i18n>Développement web spécifique</span>
        </div>
        <div class="bloc-service">
          <img src="assets/img/web/maintenance.jpg" alt="">
          <span i18n>Maintenance de site web</span>
        </div>
        <div class="bloc-service">
          <img src="assets/img/web/cms.jpg" alt="">
          <span i18n>CMS : Sites statiques et blogs</span>
        </div>
        <div class="bloc-service">
          <img src="assets/img/web/ecommerce.jpg" alt="">
          <span i18n>Site de vente en ligne</span>
        </div>
      </div>

    </div>

    <p i18n>Nos missions peuvent être réalisées sur site ou dans nos locaux.
      <br> Nous effectuons aussi des <b>prestations de formation et coaching</b> au sein des entreprises pour aider vos équipes techniques
      à mieux comprendre et maîtriser l'état de l'art des technologies web du front-end et comment les incorporer dans les
      démarches de projets.</p>


    <div class="container">
      <div class="group-row">

        <div class="row">
          <div class="sub-service">
            <div class="head-card">
              <h2 i18n>Développement web spécifique</h2>
              <img class="center" src="assets/img/web/development.png" alt="Test utilisabilité">
            </div>
            <div class="detail-service">
              <p i18n>Notre équipe est spécialisée dans les 3 « stacks » suivantes : PHP, NodeJS/Javascript, Java.</p>
              <p i18n>Nous travaillons souvent avec les framework suivants :</p>
              <ul>
                <li>AngularJS/Angular</li>
                <li>React</li>
                <li>Vue</li>
                <li>Polymer</li>
                <li>Etc.</li>
              </ul>
              <p i18n>Nos sites sont responsives c'est-à-dire tout autant accessibles sur ordinateur de bureau que smartphone ou
                tablette.</p>
              <p i18n>Nous pouvons aussi nous occuper de développer des interfaces back-office de type REST API et autres formes
                de webservices avec des technologies telles que Java (JavaEE, Spring), NodeJS (Express), ou PHP (Zend, Symphony).</p>
              <p i18n>Nous pouvons aussi développer des écrans de visualisation dynamiques de données 2D ou 3D avec :</p>
              <ul>
                <li>D3</li>
                <li>ThreeJS</li>
              </ul>
            </div>
            <div class="foot-card">
              <a class="button" [routerLink]="['/contact']" href="/contact" i18n>
                <i class="fa fa-envelope"></i> Contactez-nous</a>
            </div>
          </div>
          <div class="sub-service">
            <div class="head-card">
              <h2 i18n>CMS : Sites statiques et blogs</h2>
              <img class="center" src="assets/img/web/cms.jpg" alt="Test utilisabilité">
            </div>
            <div class="detail-service">
              <p i18n> Nous réalisons des sites web attractifs pour présenter votre entreprise, vos services, vos produits et permettre
                de vous contacter. Nous travaillons avec les principaux CMS : Wordpress, Drupal, Microsoft Sharepoint, etc.
              </p>
            </div>
            <div class="foot-card">
              <a class="button" [routerLink]="['/contact']" href="/contact" i18n>
                <i class="fa fa-envelope"></i> Contactez-nous</a>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="sub-service">
            <div class="head-card">
              <h2 i18n>Maintenance de site web</h2>
              <img class="center" src="assets/img/web/maintenance.jpg" alt="Test utilisabilité">
            </div>
            <div class="detail-service">
              <p i18n>Nous effectuons cette mission par gestion de tickets.</p>
              <p i18n>Quand vous désirez faire une modification sur votre site web, vous nous la décrivez, la faites parvenir par
                mail ou par un système de tickets comme Trello, JIRA, etc.</p>
              <ul>
                <li i18n>Ensuite, nous évaluons et vous communiquons le nombre de tickets nécessaires pour réaliser la modification.
                  Nous garantissons une réponse sous 1 jour ouvré.</li>
                <li i18n>Vous envoyé votre « go » ou votre « no-go ».</li>
                <li i18n>Dans le cas d'un « go », nous réalisons la mission et ses tests afférents (Dev, Test, UAT, Prod).</li>
                <li>Etc.</li>
              </ul>
              <p i18n>Nous pouvons vous aidez à maintenir votre site internet pour les technologies suivantes :</p>
              <ul>
                <li i18n>Principaux CMS: Wordpress, Drupal, etc.</li>
                <li i18n>Principaux eCommerce: WooCommerce, Prestashop, etc.</li>
                <li i18n>Sites spécifiques (Angular, React, Vue, etc.)</li>
              </ul>
              <h3 i18n>Tarif</h3>
              <p i18n>Un montant forfaitaire mensuel additionné des tickets traités.</p>
              <p i18n> Le montant forfaitaire et le prix unitaire du ticket sont estimés en fonction de la complexité du site web,
                le niveau de disponibilité demandée et le volume. </p>
            </div>
            <div class="foot-card">
              <a class="button" [routerLink]="['/contact']" href="/contact" i18n>
                <i class="fa fa-envelope"></i> Contactez-nous</a>
            </div>
          </div>
          <div class="sub-service">
            <div class="head-card">
              <h2 i18n>Site de vente en ligne</h2>
              <img class="center" src="assets/img/web/ecommerce.jpg" alt="Test utilisabilité">
            </div>
            <div class="detail-service">
              <p i18n>Nous pouvons vous aider à mettre en place un site d'e-commerce en fonction de vos besoins. Nous pouvons travailler
                avec diverses plateformes telles que : WooCommerce, Prestashop, Magento, etc.</p>
            </div>
            <div class="foot-card">
              <a class="button" [routerLink]="['/contact']" href="/contact" i18n>
                <i class="fa fa-envelope"></i> Contactez-nous</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
